{% extends 'base/baseTemplate.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Bienvenido al sistema de manejo de datos de Rugby Champagne®</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>Seleccione una opcion en el menu de la izquierda</p>
        </div>
    </div>
{% endblock %}